{% extends "base.html" %} 

{% block title %}Detail{% endblock title %} 

{% block content %}
    <div class="title-font">
        <strong>{{destination.name}}:</strong>
    </div>
    <div class="description-font"><p>{{destination.description}}</p></div>
    <div class="acivities-font1">Activities:</div>
    <div class="description-font"><p>{{destination.activities}}</p></div>
    
    <p><img src="{{destination.pretty_picture.url}}" class = "margin img-size1"></p>
    
    <!-- <p>{{destination.optimal_visiting_season}}</p> -->
    <a href="{% url 'destination-update' destination.id %}">
            <button type="button" class="btn btn-warning margin1">Update</button>
    </a>
    <a href="{% url 'destination-delete' destination.id %}">
            <button type="button" class="btn btn-danger margin1">Delete</button>
    </a>
{% endblock content %}