{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row card-deck fixed-tight">
      {% for destination in destinations %}
      <div class ="col-12 col-sm-6 col-md-4"> 
      <div class="card m-3 height"> 
        <a href="{% url 'destination-detail' destination.id %}" >
        
          <img src="{{destination.pretty_picture.url}}" alt="Card image cap" class="img-size"/>
          <div class="card-body btn btn-info card-btn">
              {{destination.name}}</div>
        </a>
      </div>
      </div>

  {% endfor %}
</div>
{% endblock content %}

